
    <!-- Starts Main Section -->
    <main>
        <!-- Start Add Photo Section -->
        <div class="editPage">
            <h2>Edit photo</h2>
            <!-- Start Add Photo Form -->
            <form action="" method="POST">
                <p>
                    <input type="text" name="name" placeholder="Name" value="{{phototo.name}}">
                </p>

                <p>
                    <input type="number" name="age" placeholder="Age" value="{{phototo.age}}">
                </p>

                <p>
                    <textarea type="text" name="descripton" placeholder="Description">{{phototo.description}}</textarea>
                </p>

                <p>
                    <input type="text" name="location" placeholder="Location" value="{{phototo.location}}">
                </p>

                <p>
                    <input type="text" name="image" placeholder="Link to image" value="{{phototo.image}}">
                </p>
                <!-- Add Photo Button -->
                <button class="edit-btn" type="submit">Edit Photo</button>
            </form>
        </div>
    </main>

   